/* ------------- RESET ------------- */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* ------------- HTML, BODY ------------- */

html,
body {
    width: 100%;
    height: 100%;
}


/* ------------- CALCULADORA ------------- */

.contenedor__calculadora {
    width: 300px;
    height: 450px;
    margin: auto;
    margin-top: 60px;
    padding: 12px;
    display: block;
    background-color: #eeeeeeb0;
    box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.76);
    border: solid 2px rgba(128, 128, 128, 0.616);
    border-radius: 12px;
}

.contenedor__pantalla {
    width: 100%;
    height: 26%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
}

.pantalla--superior {
    width: 100%;
    height: 60%;
    display: grid;
    place-content: center;
    color: rgb(3, 176, 189);
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    box-shadow: 2px 2px 8px rgba(128, 128, 128, 0.514);
    border: solid 2px rgba(128, 128, 128, 0.616);
    border-radius: 10px;
}

.pantalla--inferior {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    gap: 2%;
}

.contenedor--numero {
    width: 35%;
    color: rgb(3, 176, 189);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    box-shadow: 2px 2px 8px rgba(128, 128, 128, 0.514);
    border: solid 2px rgba(128, 128, 128, 0.616);
    border-radius: 10px;
}

.contenedor--operando {
    width: 20%;
    background-color: white;
    box-shadow: 2px 2px 8px rgba(128, 128, 128, 0.514);
    border: solid 2px rgba(128, 128, 128, 0.616);
    border-radius: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.contenedor--operando {
    display: grid;
    place-content: center;
    color: rgb(3, 176, 189);
    font-size: 25px;
    font-weight: bolder;
}


/* ------------- BOTONES ------------- */

.contenedor__botones {
    padding-top: 30px;
    width: 100%;
    height: 72%;
    display: grid;
    gap: 3%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.btn {
    position: relative;
    color: rgb(3, 176, 189);
    font-size: 22px;
    font-weight: bold;
    border-radius: 50%;
    border: solid 2px #e9e8e8;
    box-shadow: inset 10px 10px 8px rgba(0, 0, 0, .05), 8px 8px 10px rgba(0, 0, 0, .05), 15px 20px 20px rgba(0, 0, 0, .05), inset -10px -10px 15px rgba(255, 255, 255, 0.9);
    transition: all 0.2s;
}

.btn::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.616);
    top: 15px;
    left: 10px;
    border-radius: 50%;
}

.btn::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.705);
    top: 8px;
    left: 22px;
    border-radius: 50%;
}

.btn:hover {
    background-color: rgba(0, 255, 255, 0.897);
    transition: all 0.2s;
}

.btn:active {
    color: white;
    background-color: rgba(15, 194, 194, 0.89);
    transition: all 0.2s;
}


/* ------------- BOTONES NUMEROS ------------- */

.numero--9 {
    grid-row: 1/2;
    grid-column: 3/4;
}

.numero--8 {
    grid-row: 1/2;
    grid-column: 2/3;
}

.numero--6 {
    grid-row: 2/3;
    grid-column: 3/4;
}

.numero--5 {
    grid-row: 2/3;
    grid-column: 2/3;
}

.numero--3 {
    grid-row: 3/4;
    grid-column: 3/4;
}

.numero--2 {
    grid-row: 3/4;
    grid-column: 2/3;
}

.boton--dividir {
    grid-row: 1/2;
    grid-column: 4/5;
}

.boton--multiplicar {
    grid-row: 2/3;
    grid-column: 4/5;
}

.boton--restar {
    grid-row: 3/4;
    grid-column: 4/5;
}

.boton--sumar {
    grid-row: 4/5;
    grid-column: 4/5;
}